<p>
  <% @post.categories.each do |category| %>
    <span class='badge'><%= category.name %></span>
  <% end %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p class='lead'>
  <%= @post.description %>
  <hr/>
</p>